:root
{
    --main-colour: rgb(240, 242, 221);
    --bg-colour: rgb(47, 68, 127);
    --button-colour: rgb(246, 247, 237);
    
    --border-radius: 30px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    user-select: none;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-colour);
    height: 100vh;
    display: flex;
    justify-content: center;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

h1{
    font-size: 3rem;
}

.container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title
{
    position: relative;
    transform: translateY(15px) translateX(10px);
    color: var(--main-colour);
}

.calculator
{
    background-color: var(--main-colour);
    height: 50%;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.386);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.output
{
    background-color: rgb(243, 243, 243);
    flex: 1;
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    gap: 20px;
}

.operation
{
    font-size: 1.5rem;
}

.result
{
    font-size: 5rem;
}

.buttonsContainer
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    color: var(--bg-colour);
    text-align: center;
    flex: 2;
    padding: 20px;
    gap: 20px;
}

.buttonsContainer div:nth-child(19)
{
    grid-column: span 2;
    background-color: rgb(219, 175, 94);
    color: var(--main-colour);
}

.buttonsContainer .button:nth-child(1)
{
    background-color: var(--bg-colour);
    color: var(--main-colour);
}

.button
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-colour);
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
    font-size: 2rem;
    transition: filter .5s;
}

.button:hover
{
    cursor: pointer;
    filter: brightness(1.1);
}

.button:active
{
    box-shadow: none;
    position: relative;
    transform: translate(5px,5px);
}
